 <div class="container">
   <div class="row">
     <div class="col-md-1">
       <label>Email</label>
     </div>
     <div class="col-md-9">
       <input id="email" v-model="email" placeholder="Enter your email.">
     </div>
   </div>
   <div class="row">
     <div class="col-md-1">
       <label>Password</label>
     </div>
     <div class="col-md-9">
       <input id="login_password" v-model="password" placeholder="Enter your password.">
     </div>
   </div>
   <div class="row center-block">
     <button @click="login">Login</button>
   </div>

   <div class="row">
     <div class="col-md-1">
       <label>Full Name</label>
     </div>
     <div class="col-md-9">
       <input v-model="fullName" placeholder="Enter your name.">
     </div>
   </div>
   <div class="row">
     <div class="col-md-1">
       <label>Email</label>
     </div>
     <div class="col-md-9">
       <input v-model="suEmail" placeholder="Enter your email.">
     </div>
   </div>
   <div class="row">
     <div class="col-md-1">
       <label>Password</label>
     </div>
     <div class="col-md-9">
       <input v-model="suPassword" placeholder="Enter your password.">
     </div>
   </div>
   <div class="row center-block">
     <button @click="signup">Sign Up</button>
   </div>

 </div>
